.main {
  background-image: linear-gradient(to bottom, rgba(20, 20, 20, 0.08), rgba(60, 45, 0, 0.4)), url("/img/bg.png");
  background-size: cover;
  background-position-y: 40%;
  min-height: 100vh;
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

@keyframes pulse {
  0% {
      transform: scale(.8);
  }

  100% {
      transform: scale(1.0);
  }
}

.menu {
  cursor: pointer;
  animation-name: pulse;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

.menu {
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu span {
  margin-bottom: 8px;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
